@charset "UTF-8";
/* ..............HEADER............. */
/* importado de bt */
.header {
  --bs-bg-opacity: 3;
  background-color: #11918c;
  width: auto;
  overflow: hidden;
}

.header__nav ul {
  padding: 2rem;
  list-style-type: none;
}

.header__nav li {
  display: inline-block;
}

.header__nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: rem;
  padding: 0.3rem;
}

/* .................FOOTER..................... */
.footer {
  background-color: #11918c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-size: 2rem;
  width: 100%;
  overflow: hidden;
}

.footer .footer__foto {
  width: auto;
  margin-left: 3rem;
  margin-top: 2rem;
}

.footer .footer__foto img {
  width: 5rem;
}

.footer .footer__menu {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 100%;
}

.footer .footer__menu ul {
  padding: 0%;
}

.footer .footer__menu li {
  list-style-type: none;
}

.footer .footer__menu a {
  text-decoration: none;
  color: aliceblue;
  font-size: rem;
  padding: 0.3rem;
}

.footer .footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-right: 2rem;
  width: 100%;
}

.footer .footer__cta .footer__subtitulo {
  color: whitesmoke;
  font-size: 10px;
  margin-top: 2rem;
}

.footer .footer__cta #newsletter {
  width: 8rem;
  margin-right: 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.2rem;
}

.footer .footer__cta .footer__mail {
  margin-top: 0.2rem;
  font-size: 10px;
}

/* ..................Banner................... */
.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner__personalizados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.banner .banner__personalizados h3 {
  font-size: 5rem;
  font-weight: 800;
  color: #11918c;
}

.banner .banner__personalizados h4 {
  font-size: 1.5rem;
  color: #11918c;
}

.banner .banner__personalizados .boton__personalizados:hover {
  background-color: #c9caca;
  -webkit-transition-delay: 0, 75s;
          transition-delay: 0, 75s;
}

.banner .banner__personalizados .boton__personalizados {
  text-decoration: none;
  color: #f4f4f4;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
  background-color: #11918c;
  text-align: center;
  padding-top: 0.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner .banner__personalizados .boton__personalizados a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 600;
}

/* ........................seccion 2 personalizados..................... */
.personalizados__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  background-color: #edeeee;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.personalizados__info .info__texto {
  width: 35rem;
  margin-right: 2rem;
}

.personalizados__info .info__texto h3 {
  font-size: 2rem;
}

.personalizados__info .info__texto p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.personalizados__info .flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-filter: drop-shadow(5px 5px 10px #c5c4c4);
          filter: drop-shadow(5px 5px 10px #c5c4c4);
}

.personalizados__info .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.personalizados__info .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.personalizados__info .flip-card-front,
.personalizados__info .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.personalizados__info .flip-card-front {
  background-color: transparent;
}

.personalizados__info .flip-card-back {
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* ...............precios............. */
.demo {
  margin: 3rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  text-decoration: none;
}

.pricingTable {
  text-align: center;
  background: #fff;
  margin: 0 -15px;
  -webkit-box-shadow: 0 0 10px #ababab;
          box-shadow: 0 0 10px #ababab;
  padding-bottom: 40px;
  border-radius: 10px;
  color: #cad0de;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pricingTable:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 1;
}

.pricingTable .pricingTable-header {
  padding: 40px 0;
  background: #f5f6f9;
  border-radius: 10px 10px 50% 50%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pricingTable:hover .pricingTable-header {
  background: #f08217;
}

.pricingTable .pricingTable-header i {
  font-size: 50px;
  color: #858c9a;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pricingTable .price-value {
  font-size: 35px;
  font-weight: 800;
  color: #f08217;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pricingTable .month {
  display: block;
  font-size: 14px;
  color: #cad0de;
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
  color: #fff;
}

.pricingTable .heading {
  margin-top: 1rem;
  font-size: 24px;
  color: #f08217;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 800 !important;
}

.pricingTable .pricing-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.pricingTable .pricing-content ul li {
  line-height: 30px;
  color: #a7a8aa;
}

.pricingTable .pricingTable-signup a {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  padding: 10px 35px;
  border-radius: 20px;
  background: #f08217;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-weight: 800;
}

.pricingTable .pricingTable-signup a:hover {
  -webkit-box-shadow: 0 0 10px #f08217;
          box-shadow: 0 0 10px #f08217;
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
  color: #11918c;
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
  background: #11918c;
}

.pricingTable.blue .pricingTable-signup a:hover {
  -webkit-box-shadow: 0 0 10px #11918c;
          box-shadow: 0 0 10px #11918c;
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
  color: #ff4b4b;
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
  background: #ff4b4b;
}

.pricingTable.red .pricingTable-signup a:hover {
  -webkit-box-shadow: 0 0 10px #ff4b4b;
          box-shadow: 0 0 10px #ff4b4b;
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
  color: #bb2518;
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
  background: #bb2518;
}

.pricingTable.green .pricingTable-signup a:hover {
  -webkit-box-shadow: 0 0 10px #bb2518;
          box-shadow: 0 0 10px #bb2518;
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
  color: #fff;
}

@media screen and (max-width: 990px) {
  .pricingTable {
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 981px) {
  .banner__personalizados h3 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #11918c;
  }
  /* ........................seccion 2 personalizados..................... */
  .personalizados__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
    background-color: #edeeee;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .info__texto {
    width: 25rem;
    margin-right: 2rem;
  }
  .info__texto h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .info__texto p {
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
  }
  .flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-filter: drop-shadow(5px 5px 10px #c5c4c4);
            filter: drop-shadow(5px 5px 10px #c5c4c4);
  }
}

.opciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem;
  width: 100%;
}

.opciones .tamaño {
  margin-left: 0.5rem;
}

.mosaico {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  margin-bottom: 2rem;
}

/* MEDIAS 1 BEAKPOINT */
@media only screen and (max-width: 991px) {
  .mosaico {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-bottom: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

@media only screen and (max-width: 350px) {
  .mosaico {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-bottom: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

.contacto .contacto__titulo h2 {
  display: inline-block;
  width: 10rem;
  font-size: 3rem;
  font-weight: 800;
  color: #11918c;
  margin-top: 2rem;
  margin-left: 5rem;
}

.contacto .contacto__subtitulo h4 {
  font-size: 1.5rem;
  margin-left: 5rem;
}

.formulario {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 90%;
}

.proximamente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.proximamente .proximamente__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10rem;
  margin-top: 3rem;
}

.proximamente .proximamente__texto h2 {
  display: inline-block;
  width: 40rem;
  height: auto;
  font-weight: 800;
  font-size: 3rem;
  text-align: left;
  color: #11918c;
}

.proximamente .proximamente__texto h4 {
  font-size: 1rem;
  width: 20rem;
  margin-bottom: 2rem;
}

.proximamente .botonesmap a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 800;
  border-radius: 4px;
  margin-left: 1rem;
  padding: 0.5rem;
}

.proximamente .proximamente__foto {
  height: auto;
  margin-right: 10rem;
  width: 50rem;
}

@media (max-width: 991.98px) {
  .proximamente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  .proximamente .proximamente__texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0%;
    margin-top: 3rem;
    margin-left: 10rem;
  }
  .proximamente .proximamente__foto {
    margin-right: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.btn--facebook {
  background-color: #0f0f55;
}

.btn--instagram {
  background-color: purple;
}

.btn--pinterest {
  background-color: red;
}

* {
  padding: 0px;
  margin: 0px;
}

/* .............BODY................. */
body {
  font-family: "Spartan", sans-serif !important;
}

/* ...........PRINCIPAL BANNER............... */
.bannerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0%;
  background-color: #f4f4f4;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.bannerflex .bannerflex__texto {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5rem;
  margin-top: 6rem;
}

.bannerflex .bannerflex__texto title {
  display: inline-block;
  width: 10rem;
  font-size: 7rem;
  line-height: 7rem;
  font-weight: 800;
}

.bannerflex .bannerflex__texto .h2 {
  font-size: 2rem;
}

.bannerflex .bannerflex__texto .boton:hover {
  background-color: #033b3a;
  -webkit-transition-delay: 0, 75s;
          transition-delay: 0, 75s;
}

.bannerflex .bannerflex__texto .boton {
  text-decoration: none;
  color: #f4f4f4;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
  background-color: #11918c;
  text-align: center;
  padding-top: 0.2rem;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bannerflex .bannerflex__texto .boton a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 600;
}

.bannerflex .bannerflex__foto {
  width: auto;
  display: inline;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  overflow: visible;
  height: 100%;
}

.bannerflex .bannerflex__foto img {
  width: 100%;
  height: auto;
}

/* ..............SECCION 2............... */
.sobrenosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #11918c;
  height: 30rem;
  width: 100%;
}

.sobrenosotros h2 {
  display: inline-block;
  width: 40rem;
  height: auto;
  font-weight: 800;
  font-size: 4rem;
  text-align: left;
  color: #f4f4f4;
  line-height: 4rem;
}

.sobrenosotros p {
  display: inline-block;
  width: 40rem;
  text-align: right;
  font-size: 1.2rem;
  margin-right: 2rem;
  color: #f4f4f4;
}

/* ...................STICKERS DESTACADOS....................... */
.stickersdestacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem;
  background-color: #fff;
  width: auto;
  overflow: hidden;
}

.stickersdestacados .contenedor h2 {
  width: 40rem;
  height: auto;
  font-weight: 800;
  font-size: 4rem;
  text-align: left;
  line-height: 4rem;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #11918c;
}

/* ................mosaico fotos.................... */
.container {
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 10px #a7a7a7);
          filter: drop-shadow(5px 5px 10px #a7a7a7);
}

.container .card {
  position: relative;
  width: 220px;
  height: 350px;
  background: #e6e5e5;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #11918c;
  -webkit-clip-path: circle(150px at 80% 7%);
          clip-path: circle(150px at 80% 7%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  -webkit-clip-path: circle(200px at 80% -20%);
          clip-path: circle(200px at 80% -20%);
}

.container .card:after {
  content: "Pegarte";
  position: absolute;
  top: 45%;
  left: -10%;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: rgba(95, 95, 95, 0.05);
}

/* .................. mosaico flex.................. */
.gridpadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 15rem 15rem 15rem 15rem;
      grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

/* -------------img bellota------------ */
.container .card .imgBx {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 30%;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 1rem;
}

.container .card:hover .imgBx {
  top: 7%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 180px;
  margin-left: 1rem;
}

/*---------------- img olaf---------------*/
.container .card .imgBx__olaf {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 220px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 4rem;
}

.container .card:hover .imgBx__olaf {
  top: 2%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 200px;
  margin-left: 4rem;
}

/*..................... img lcdp ...................... */
.container .card .imgBx__lcdp {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 210px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 0.8rem;
}

.container .card:hover .imgBx__lcdp {
  top: 5%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 190px;
  margin-left: 1.2rem;
}

/*..................... img mario ...................... */
.container .card .imgBx__mario {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 1rem;
}

.container .card:hover .imgBx__mario {
  top: 7%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 180px;
  margin-left: 1.3rem;
}

/*..................... img papas ...................... */
.container .card .imgBx__papas {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 2rem;
}

.container .card:hover .imgBx__papas {
  top: 7%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 180px;
  margin-left: 2.2rem;
}

/* ............... Catiner en gral................... */
.container .card .contentBx {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 140px;
}

.container .card .contentBx h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: px;
  color: #11918c;
  margin-top: 0.5rem;
}

.container .card .contentBx .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0, 5s;
          transition-delay: 0, 5s;
}

.container .card .contentBx .size h3 {
  color: #131313;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 30px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 10px;
  display: inline-block;
  color: #fff;
  background: #11918c;
  margin: 0 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.container .card .contentBx .size span:hover {
  background: #033b3a;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 5px 10px;
  background: #11918c;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 800;
  color: whitesmoke;
  opacity: 0%;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card:hover .contentBx a {
  opacity: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition-delay: 0, 75s;
          transition-delay: 0, 75s;
}

/* MEDIAS 1 BEAKPOINT */
@media (max-width: 843.97px) {
  /* ...........banner principal........... */
  .bannerflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0%;
    background-color: #f4f4f4;
    height: 24rem;
    overflow: hidden;
    width: auto;
  }
  .bannerflex .bannerflex__texto {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  .bannerflex .bannerflex__texto title {
    width: 10rem;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
  }
  .bannerflex .bannerflex__texto h2 {
    font-size: 14px;
  }
  .bannerflex .boton:hover {
    background-color: #033b3a;
    -webkit-transition-delay: 0, 75s;
            transition-delay: 0, 75s;
  }
  .bannerflex .boton {
    text-decoration: none;
    color: #f4f4f4;
    border-radius: 4px;
    width: 6rem;
    height: 2rem;
    background-color: #11918c;
    text-align: center;
    padding-top: 0.2rem;
    margin-top: 1,3rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: small;
  }
  .bannerflex .boton .banner__boton {
    font-size: small;
  }
  .bannerflex__foto {
    display: none !important;
  }
  /* ..............SECCION 2............... */
  .sobrenosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    overflow: hidden;
  }
  .sobrenosotros .titulo__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobrenosotros .titulo__contenedor .sobrenosotros__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 2rem;
    height: auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sobrenosotros .sobrenosotros__texto {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0,5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: center;
  }
  /* ..........catalogos............... */
  .stickersdestacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: auto;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    justify-items: center;
    margin: 0;
  }
  .stickersdestacados .contenedor {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .stickersdestacados .contenedor h2 {
    display: inline-block;
    font-size: 2rem;
    color: #11918c;
    font-weight: 900;
    line-height: 2rem;
    width: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gridpadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .sticker {
    margin-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ...........footer............. */
  .footer {
    background-color: #11918c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    overflow: hidden;
  }
  .footer .footer__foto {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    margin-left: 0rem;
    align-items: center;
    color: #f4f4f4;
  }
  .footer .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__menu ul li {
    font-size: 10px;
  }
  .footer .footer__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f4f4f4;
    margin-bottom: 2rem;
  }
  .footer .footer__cta .footer__subtitulo {
    color: whitesmoke;
    margin-top: 0rem;
    margin-right: 0rem;
    font-size: 10px;
  }
  .footer .footer__cta .footer__subtitulo .newsletter {
    width: 8rem;
    margin-right: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.2rem;
  }
  .footer .footer__cta .footer__subtitulo .footer__mail {
    margin-top: 0.2rem;
    margin-bottom: 10rem;
    font-size: 10px;
  }
  .footer .footer__cta .footer__subtitulo .footer__iconos {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* MEDIAS 2 BEAKPOINT */
@media (min-width: 843.98px) and (max-width: 1199.98px) {
  /* ...........banner principal........... */
  .bannerflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0%;
    background-color: #f4f4f4;
    height: auto;
    overflow: hidden;
    width: auto;
  }
  .bannerflex__texto {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .bannerflex__texto h1 {
    width: 10rem;
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 800;
  }
  .bannerflex__texto h2 {
    font-size: 1rem;
  }
  /* ..............SECCION 2............... */
  .sobrenosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    overflow: hidden;
  }
  .titulo__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobrenosotros__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 20rem;
    height: auto;
    text-align: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .sobrenosotros__texto {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
    font-size: 1rem;
    text-align: center !important;
  }
  /* ..........catalogos............... */
  .contenedor {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .gridpadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .sticker {
    margin-bottom: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stickersdestacados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: auto;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    justify-items: center;
    margin: 0;
  }
  .stickersdestacados__titulo {
    display: inline-block;
    font-size: 2.5rem;
    color: #11918c;
    font-weight: 900;
    line-height: 2.5rem;
    width: 25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ...........footer............. */
  .footer {
    background-color: #11918c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-size: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    overflow: hidden;
  }
  .footer .footer__foto {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
    margin-left: 0rem;
    align-items: center;
    color: #f4f4f4;
  }
  .footer .footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__menu ul li {
    font-size: small;
  }
  .footer .footer__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f4f4f4;
  }
  .footer .footer__cta .footer__subtitulo {
    color: whitesmoke;
    margin-top: 0rem;
    margin-right: 0rem;
    font-size: 10px;
  }
  .footer .footer__cta .footer__subtitulo .newsletter {
    width: 8rem;
    margin-right: 0rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.2rem;
  }
  .footer .footer__cta .footer__subtitulo .footer__mail {
    margin-top: 0.2rem;
    margin-bottom: 10rem;
    font-size: 10px;
  }
  .footer .footer__cta .footer__subtitulo .footer__iconos {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=estilos.css.map */