.contacto {

  
  .contacto__titulo {
    h2 {
      display: inline-block;
      width: 10rem;
      font-size: 3rem;
      font-weight: 800;
      color: #11918c;
      margin-top: 2rem;
      margin-left: 2rem ;
    }
  }
  .contacto__subtitulo {
    h4 {
      font-size: 1.5rem;
      margin-left: 2rem;
    }
  }
}

.formulario {
  margin-top: 2rem;  
}
