.banner {
  @extend .banner;
}
//   <!------------- opciones de stiker  -->
  .opciones{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 2rem;
      width: 100%;

      .tamaño{
          margin-left: 0.5rem;
      }
  }

//   importado de bt
.mosaico{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;

}


/* MEDIAS 1 BEAKPOINT */
@media only screen and (max-width: 991px){ 
.mosaico{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
}

@media only screen and (max-width: 350px){ 
    .mosaico{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 4rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}