@import "mixin";

.proximamente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:40rem;
  align-items: center;
  overflow: hidden;

  .proximamente__texto {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 3rem;

    h2 {
      display: inline-block;
      width: 40rem;
      height: auto;
      font-weight: 800;
      font-size: 3rem;
      text-align: left;
      color: #11918c;
    }
    
    h4{
      @include parrafos;
    }
  

  }

  .botonesmap {
    a {
      text-decoration: none;
      color: aliceblue;
      font-weight: 800;
      border-radius: 4px;
      margin-left: 1rem;
      padding: 0.5rem;
    }
  }

  .proximamente__foto{
    height: auto; 
    margin-right: 10rem;
    width: 50rem;

   }
           
}


/* MEDIAS 1 BEAKPOINT */
@media (max-width: 843.97px) {
  .proximamente {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .proximamente__texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0%;
      margin-top: 3rem;

      .titulo{
        display: inline-block;

        h2{
        font-size: 2rem;
        margin-left: 20rem;
        }
      }
    }

    .proximamente__foto {
      margin-right: 0;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

/* MEDIAS 2 BEAKPOINT */
@media (min-width: 843.98px) and (max-width: 1199.98px) {
  .proximamente {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .proximamente__texto {
      display: flex;
      flex-direction: column;
      margin-left: 0%;
      margin-top: 3rem;
      margin-left: 10rem;
    }

    .proximamente__foto {
      margin-right: 0;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}