.proximamente {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
  align-items: center;

  .proximamente__texto {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 3rem;

    h2 {
      display: inline-block;
      width: 40rem;
      height: auto;
      font-weight: 800;
      font-size: 3rem;
      text-align: left;
      color: #11918c;
    }

    h4 {
      font-size: 1rem;
      width: 20rem;
      margin-bottom: 2rem;
    }

    .botonesmap {
      a {
        text-decoration: none;
        color: aliceblue;
        font-weight: 800;
        border-radius: 4px;
        margin-left: 1rem;
        padding: 0.5rem;
      }
    }

    .proximamente__foto {
      margin-right: 3rem;
    }
  }
}

  @media only screen and (max-width: 981px) {
    .proximamente {
      display: flex;
      flex-direction: column;
      height: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;

      .proximamente__texto {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-top: 3rem;
        margin-left: 10rem;
      }

      .proximamente__foto {
        margin-right: 0;
        margin-top: 3rem;
      }
    }
  }
