* {
  padding: 0px;
  margin: 0px;
}

/* .............BODY................. */
body {
  font-family: "Spartan", sans-serif !important;
}

/* ..............HEADER............. */
//

.header {
  --bs-bg-opacity: 1;
  background-color: #11918c;
  width: auto;
  overflow: hidden;

  .header__nav {
    ul {
      padding: 2rem;
      list-style-type: none;
    }

    li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: aliceblue;
      font-size: rem;
      padding: 0.3rem;
    }
  }
}

/* ..................Banner................... */

.banner {
  position: relative;
  display: flex;
  text-align: center;
  height: 30rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  .banner__personalizados {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    align-items: center;
    justify-content: center;
    position: absolute;

    h3 {
      font-size: 5rem;
      font-weight: 800;
      color: #11918c;
    }

    h4 {
      font-size: 1.5rem;
      color: #11918c;
    }
  }

  .boton__personalizados {
    text-decoration: none;
    color: #f4f4f4;
    border-radius: 4px;
    width: 8rem;
    height: 2rem;
    background-color: #11918c;
    text-align: center;
    padding-top: 0.2rem;
    transition: 0.5s;

    :hover {
      background-color: #c9caca;
      transition-delay: 0, 75s;
    }

    a {
      text-decoration: none;
      color: #f4f4f4;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  img {
    width: 120rem;
  }
}

/* ........................seccion 2 personalizados..................... */

.personalizados__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: rgb(237, 238, 238);
  height: fit-content;

  .info__texto {
    width: 35rem;
    margin-right: 2rem;

    h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
  }

  .flip-card {
    background-color: transparent;
    width: 500px;
    height: 500px;
    perspective: 1000px;
    filter: drop-shadow(5px 5px 10px rgb(197, 196, 196));

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      :hover {
        transform: rotateY(180deg);
      }
    }

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: transparent;
    }

    .flip-card-back {
      background-color: transparent;
      transform: rotateY(180deg);
    }
  }
}

/* ...............precios............. */

.demo {
  margin: 3rem;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
  }

  .pricingTable {
    text-align: center;
    background: #fff;
    margin: 0 -15px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all 0.5s ease 0s;
  }

  .pricingTable:hover {
    transform: scale(1.05);
    z-index: 1;
  }

  .pricingTable .pricingTable-header {
    padding: 40px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all 0.5s ease 0s;
  }

  .pricingTable:hover .pricingTable-header {
    background: #f08217;
  }

  .pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all 0.5s ease 0s;
  }

  .pricingTable .price-value {
    font-size: 35px;
    font-weight: 800;
    color: #f08217;
    transition: all 0.5s ease 0s;
  }

  .pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de;
  }

  .pricingTable:hover .month,
  .pricingTable:hover .price-value,
  .pricingTable:hover .pricingTable-header i {
    color: #fff;
  }

  .pricingTable .heading {
    margin-top: 1rem;
    font-size: 24px;
    color: #f08217;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 800 !important;
  }

  .pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }

  .pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa;
  }

  .pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #f08217;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-weight: 800;
  }

  .pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #f08217;
  }

  .pricingTable.blue .heading,
  .pricingTable.blue .price-value {
    color: #11918c;
  }

  .pricingTable.blue .pricingTable-signup a,
  .pricingTable.blue:hover .pricingTable-header {
    background: #11918c;
  }

  .pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #11918c;
  }

  .pricingTable.red .heading,
  .pricingTable.red .price-value {
    color: #ff4b4b;
  }

  .pricingTable.red .pricingTable-signup a,
  .pricingTable.red:hover .pricingTable-header {
    background: #ff4b4b;
  }

  .pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ff4b4b;
  }

  .pricingTable.green .heading,
  .pricingTable.green .price-value {
    color: #bb2518;
  }

  .pricingTable.green .pricingTable-signup a,
  .pricingTable.green:hover .pricingTable-header {
    background: #bb2518;
  }

  .pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #bb2518;
  }

  .pricingTable.blue:hover .price-value,
  .pricingTable.green:hover .price-value,
  .pricingTable.red:hover .price-value {
    color: #fff;
  }
}

/* .................FOOTER..................... */

.footer {
  background-color: #11918c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-size: 2rem;
  width: auto;
  overflow: hidden;

  img {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .footer__menu {
    ul {
      padding: 2rem;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: aliceblue;
      font-size: rem;
      padding: 0.3rem;
      margin-right: 50rem;
    }
  }

  .footer__cta {
    display: flex;
    flex-direction: column;

    .footer__subtitulo {
      color: whitesmoke;
      margin-top: 3.5rem;
      margin-right: 5rem;
    }

    .footer__mail {
      margin-top: 0.2rem;
    }

    .footer__iconos {
      margin-top: 0.4rem;
    }
    .icono {
      width: 20px;
    }
  }
}

/* vista celular */
@media only screen and (max-width: 981px) {
  .banner__personalizados h3 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #11918c;
  }

  /* ........................seccion 2 personalizados..................... */

  .personalizados__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: rgb(237, 238, 238);
    height: fit-content;

    .info__texto {
      width: 25rem;
      margin-right: 2rem;

      h3 {
        font-size: 1.5rem;
        text-align: center;
      }

      p {
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: center;
      }
    }
    .flip-card {
      background-color: transparent;
      width: 400px;
      height: 400px;
      perspective: 1000px;
      filter: drop-shadow(5px 5px 10px rgb(197, 196, 196));
    }
  }

  .footer {
    background-color: #11918c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: auto;
    align-items: center;
    width: auto;
    overflow: hidden;
  
    img {
      display: inline-block;
      align-items: center;
      margin-top: 2rem;
      margin-left: 0rem;
      align-items: center;
    }
  
    .footer__menu {
      ul {
        display: flex;
        flex-direction: row;
        padding: 0rem;
        list-style-type: none;
        text-align: center;
        margin-top: 2rem;
        font-size: 10px;
      }
  
      a {
        text-decoration: none;
        color: aliceblue;
        font-size: rem;
        padding: 0.3rem;
        margin-right: 0rem;
      }
    }
  
    .footer__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .footer__subtitulo {
        color: whitesmoke;
        margin-top: 0rem;
        margin-right: 0rem;
        font-size: 10px;
  
        #newsletter {
          width: 8rem;
          margin-right: 0rem;
          align-items: center;
          margin-left: 1.2rem;
        }
      }
  
      .footer__mail {
        margin-top: 0.2rem;
        font-size: 10px;
      }
  
      .footer__iconos {
        margin-top: 0.4rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
  
        .icono {
          width: 20px;
        }
      }
    }
  }
}
