// Imports
@import "header";
@import "footer";
@import "personalizados";
@import "pedidos";
@import "contacto";
@import "planchas";
@import "map";
@import "mixin";

// // Variables
// $color-principal:#11918c;

* {
  padding: 0px;
  margin: 0px;
}

/* .............BODY................. */
body {
  font-family: "Spartan", sans-serif !important;
}

/* ...........PRINCIPAL BANNER............... */

.bannerflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0%;
  background-color: #f4f4f4;
  width: 100%;
  height: 40rem;
  overflow: hidden;

  .bannerflex__texto {
    position: relative;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 6rem;

    title {
      display: inline-block;
      width: 10rem;
      font-size: 7rem;
      line-height: 7rem;
      font-weight: 800;
    }

    .h2 {
      font-size: 2rem;
    }

    .boton:hover {
      background-color: #033b3a;
      transition-delay: 0, 75s;
    }

    .boton {
      text-decoration: none;
      color: #f4f4f4;
      border-radius: 4px;
      width: 8rem;
      height: 2rem;
      background-color: #11918c;
      text-align: center;
      padding-top: 0.2rem;
      margin-top: 1rem;
      transition: 0.5s;

      a {
        text-decoration: none;
        color: #f4f4f4;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }

  .bannerflex__foto {
    width: auto;
    display: inline;
    align-items: left;
    overflow: visible;
    height: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

/* ..............SECCION 2............... */
.sobrenosotros {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #11918c;
  height: 30rem;
  width: 100%;

  h2 {
    display: inline-block;
    width: 40rem;
    height: auto;
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    color: #f4f4f4;
    line-height: 4rem;
  }

  p {
    display: inline-block;
    width: 40rem;
    text-align: right;
    font-size: 1.2rem;
    margin-right: 2rem;
    color: #f4f4f4;
  }
}

/* ...................STICKERS DESTACADOS....................... */

.stickersdestacados {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  background-color: #fff;
  width: auto;
  overflow: hidden;

  .contenedor {
    h2 {
      width: 40rem;
      height: auto;
      font-weight: 800;
      font-size: 4rem;
      text-align: left;
      line-height: 4rem;
      margin-left: 1rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
      color: #11918c;
    }
  }
}

/* ................mosaico fotos.................... */

.container {
  position: relative;
  filter: drop-shadow(5px 5px 10px rgb(167, 167, 167));
}

.container .card {
  position: relative;
  width: 220px;
  height: 350px;
  background: rgb(230, 229, 229);
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #11918c;
  clip-path: circle(150px at 80% 7%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(200px at 80% -20%);
}

.container .card:after {
  content: "Pegarte";
  position: absolute;
  top: 45%;
  left: -10%;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: rgba(95, 95, 95, 0.05);
}

/* .................. mosaico flex.................. */
.gridpadre {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
  grid-template-rows: auto;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

/* -------------img bellota------------ */

.container .card .imgBx {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 30%;
  height: 200px;
  transition: 0.5s;
  margin-left: 1rem;
}

.container .card:hover .imgBx {
  top: 7%;
  transform: translateY(0%);
  width: 60%;
  height: 180px;
  margin-left: 1rem;
}

/*---------------- img olaf---------------*/

.container .card .imgBx__olaf {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 220px;
  transition: 0.5s;
  margin-left: 4rem;
}

.container .card:hover .imgBx__olaf {
  top: 2%;
  transform: translateY(0%);
  width: 60%;
  height: 200px;
  margin-left: 4rem;
}

/*..................... img lcdp ...................... */

.container .card .imgBx__lcdp {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 210px;
  transition: 0.5s;
  margin-left: 0.8rem;
}

.container .card:hover .imgBx__lcdp {
  top: 5%;
  transform: translateY(0%);
  width: 60%;
  height: 190px;
  margin-left: 1.2rem;
}

/*..................... img mario ...................... */

.container .card .imgBx__mario {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 200px;
  transition: 0.5s;
  margin-left: 1rem;
}

.container .card:hover .imgBx__mario {
  top: 7%;
  transform: translateY(0%);
  width: 60%;
  height: 180px;
  margin-left: 1.3rem;
}

/*..................... img papas ...................... */

.container .card .imgBx__papas {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 200px;
  transition: 0.5s;
  margin-left: 2rem;
}

.container .card:hover .imgBx__papas {
  top: 7%;
  transform: translateY(0%);
  width: 60%;
  height: 180px;
  margin-left: 2.2rem;
}

/* ............... Catiner en gral................... */
.container .card .contentBx {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 140px;
}

.container .card .contentBx h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: px;
  color: #11918c;
  margin-top: 0.5rem;
}

.container .card .contentBx .size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0, 5s;
}

.container .card .contentBx .size h3 {
  color: #131313;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 30px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 10px;
  display: inline-block;
  color: #fff;
  background: #11918c;
  margin: 0 2px;
  transition: 0.5s;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.container .card .contentBx .size span:hover {
  background: #033b3a;
}

.container .card .contentBx a {
  display: inline-block;
  padding: 5px 10px;
  background: #11918c;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 800;
  color: whitesmoke;
  opacity: 0%;
  transform: translateY(60px);
  transition: 0.5s;
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(2px);
  transition-delay: 0, 75s;
}

/* MEDIAS 1 BEAKPOINT */

@media (max-width: 843.97px) {
  /* ...........banner principal........... */
  .bannerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0%;
    background-color: #f4f4f4;
    height: 24rem;
    overflow: hidden;
    width: auto;

    .bannerflex__texto {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 5rem;
      margin-bottom: 3rem;
      margin-left: 1rem;

      title {
        width: 10rem;
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 700;
      }

      h2 {
        font-size: 14px;
      }
    }

    .boton:hover {
      background-color: #033b3a;
      transition-delay: 0, 75s;
    }

    .boton {
      text-decoration: none;
      color: #f4f4f4;
      border-radius: 4px;
      width: 6rem;
      height: 2rem;
      background-color: #11918c;
      text-align: center;
      padding-top: 0.2rem;
      margin-top: 1,3rem;
      transition: 0.5s;
      font-size: small;
      
      .banner__boton {
        font-size: small;
      }
    }
  }

  .bannerflex__foto {
   display: none !important;
  }

  /* ..............SECCION 2............... */

  .sobrenosotros {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
    justify-content: center;
    width: auto;
    overflow: hidden;

    .titulo__contenedor {
      display: flex;
      align-items: center;

      .sobrenosotros__titulo {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 2rem;
        height: auto;
        text-align: center ;
        align-items: center;
        font-size: 2rem ;
        line-height: 2.5rem;
      }
    }

    .sobrenosotros__texto {
      display: inline-block;
      justify-content: center;
      margin-top: 0,5rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      width: auto;
      height: auto;
      font-size: 15px ;
      text-align: center ;
    }
  }

  
  /* ..........catalogos............... */

  .stickersdestacados {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: auto;
    align-items: center !important;
    justify-items: center;
    margin: 0;

    .contenedor {
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-top: 2rem;
      margin-left: 3rem;
  
      h2 {
        display: inline-block;
        font-size: 2rem;
        color: #11918c;
        font-weight: 900;
        line-height: 2rem ;
        width: 2rem ;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
    
    }
  }
  

  .gridpadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .sticker {
    margin-bottom: 1rem;
    align-items: center;
  }

  
  /* ...........footer............. */
  .footer {
    background-color: #11918c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: auto;
    align-items: center;
    width: auto;
    overflow: hidden;

    .footer__foto {
      display: inline-block;
      align-items: center;
      margin-top: 2rem;
      margin-left: 0rem;
      align-items: center;
      color: #f4f4f4;
    }

    .footer__menu {
      ul {
        display: flex;
        justify-content: center;
        li {
          font-size: 10px;
        }
      }
    }

    .footer__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #f4f4f4;
      margin-bottom: 2rem;

      .footer__subtitulo {
        color: whitesmoke;
        margin-top: 0rem;
        margin-right: 0rem;
        font-size: 10px;

        .newsletter {
          width: 8rem;
          margin-right: 0rem;
          align-items: center;
          margin-left: 1.2rem;
        }

        .footer__mail {
          margin-top: 0.2rem;
          margin-bottom: 10rem;
          font-size: 10px;
        }

        .footer__iconos {
          display: inline-block;
          align-items: center;
        }
      }
    }
  }

  
}



/* MEDIAS 2 BEAKPOINT */
@media (min-width: 843.98px) and (max-width: 1199.98px) {
  /* ...........banner principal........... */
  .bannerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0%;
    background-color: #f4f4f4;
    height: auto;
    overflow: hidden;
    width: auto;
  }

  .bannerflex__texto {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 3rem;

    h1 {
      width: 10rem;
      font-size: 2rem;
      line-height: 3.5rem;
      font-weight: 800;
    }

    h2 {
      font-size: 1rem;
    }
  }

  /* ..............SECCION 2............... */

  .sobrenosotros {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
    justify-content: center;
    width: auto;
    overflow: hidden;
  }

  .titulo__contenedor {
    display: flex;
    align-items: center;
  }
  .sobrenosotros__titulo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 20rem;
    height: auto;
    text-align: center !important;
    align-items: center;
    font-size: 1rem;
    line-height: 2.5rem;
  }

  .sobrenosotros__texto {
    display: inline-block;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
    font-size: 1rem;
    text-align: center !important;
  }

  /* ..........catalogos............... */
  .contenedor {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 2rem;
    margin-left: 3rem;
  }

  .gridpadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .sticker {
    margin-bottom: 1rem;
    align-items: center;
  }

  .stickersdestacados {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: auto;
    align-items: center !important;
    justify-items: center;
    margin: 0;
  }
  .stickersdestacados__titulo {
    display: inline-block;
    font-size: 2.5rem;
    color: #11918c;
    font-weight: 900;
    line-height: 2.5rem;
    width: 25rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  /* ...........footer............. */
  .footer {
    background-color: #11918c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: auto;
    align-items: center;
    width: auto;
    overflow: hidden;

    .footer__foto {
      display: inline-block;
      align-items: center;
      margin-top: 2rem;
      margin-left: 0rem;
      align-items: center;
      color: #f4f4f4;
    }

    .footer__menu {
      ul {
        display: flex;
        justify-content: center;
        li {
          font-size: small;
        }
      }
    }

    .footer__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #f4f4f4;

      .footer__subtitulo {
        color: whitesmoke;
        margin-top: 0rem;
        margin-right: 0rem;
        font-size: 10px;

        .newsletter {
          width: 8rem;
          margin-right: 0rem;
          align-items: center;
          margin-left: 1.2rem;
        }

        .footer__mail {
          margin-top: 0.2rem;
          margin-bottom: 10rem;
          font-size: 10px;
        }

        .footer__iconos {
          display: inline-block;
          align-items: center;
        }
      }
    }
  }
}
