
*{  
padding: 0px;
margin: 0px;
}


    /* .............BODY................. */
body{
    font-family: 'Spartan', sans-serif !important; 
}


/* ..............HEADER............. */

.header{
    --bs-bg-opacity: 1;
    background-color: #11918c;
    width: auto;
}
/* .header{
    display: flex;
    flex-direction: row;
    background-color: #11918c;
    background-size: contain;
    justify-content:space-between;
    position: fixed;
    z-index: 6;
    width: 100%;
} */

.header__foto{
    display: inline-block;
    padding: 1.5rem;
    margin-left: 1rem;
    align-content: center;

}

.header__buscador{
    display: inline-block;
    padding: 2rem;
    margin-right: 3;

}

/* ......... NAV............*/
.header__nav ul{
    padding: 2rem;
    list-style-type: none; 
}

.header__nav li{
    display: inline-block;
}

.header__nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: rem;
    padding: 0.3rem;
}


/* ...........PRINCIPAL BANNER............... */

.bannerflex{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 0%;
    background-color: #f4f4f4;
}
.bannerflex__texto{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    margin-top: 14rem;
}

.bannerflex__texto h1{
    display: inline-block;
    width: 10rem;
    font-size: 10rem;
    line-height: 9rem;
    font-weight: 800;
}

.banner__subtitulo{
    font-size: 2rem;
}

.boton:hover{
    background-color: #033b3a;
    transition-delay:0,75s;
}

.boton {
    text-decoration: none;
    color: #f4f4f4;
    border-radius: 4px;
    width: 8rem;
    height: 2rem; 
    background-color: #11918c;
    text-align: center;
    padding-top: 0.2rem ;
    margin-top: 1rem;
    transition: 0.5s;
}

.boton a{
    text-decoration: none;
    color: #f4f4f4; 
    font-size: 1.2rem;
    font-weight: 600;
}


.banner__foto{
    width: 90rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

/* ..............SECCION 2............... */


.sobrenosotros {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #11918c;
    height: 30rem;
    color: whitesmoke;
}

.sobrenosotros__titulo{
    display:inline-block;
    width: 10rem;
    height: 3rem;
    justify-content:center;
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    margin-top: 10rem;
    margin-right: 40rem;
    margin-left: 3rem;
    line-height: 4rem;

}

  

.sobrenosotros__texto{
    display: inline-block;
    width: 40rem;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 7rem;
    margin-left: 7rem;

}

/* ...................STICKERS DESTACADOS....................... */

.stickersdestacados{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    background-color: #fff;
    width: auto;
    
}
 .stickersdestacados__titulo{
    font-size: 5rem;
    color: #11918c;
    font-weight: 900;
    line-height: 5rem;
    width: 10rem;
    margin-bottom: 2rem;
 }

/* ................mosaico fotos.................... */

.container{
    position: relative;
    filter: drop-shadow(5px 5px 10px rgb(167, 167, 167));
    margin-left:3rem ;
}

.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background:rgb(230, 229, 229);
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #11918c;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.container .card:after{
    content: 'Pegarte';
    position: absolute;
    top: 45%;
    left: -10%;
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    color: rgba(95, 95, 95, 0.05)
}

/* -------------img bellota------------ */

.imgBx{
    margin-left: 1.2rem;
}

.container .card .imgBx{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
}

.container .card:hover .imgBx{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 2rem;
}

  /*---------------- img olaf---------------*/

.imgBx__olaf{
    display: inline-block;
    margin-left: 6rem;
}

.container .card .imgBx__olaf{
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 300px;
    transition: 0.5s;
}

  .container .card:hover .imgBx__olaf{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 6.5rem;
}

/*..................... img lcdp ...................... */
.imgBx__lcdp{
    margin-left: 1.2rem;
}

.container .card .imgBx__lcdp{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
}

.container .card:hover .imgBx__lcdp{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 2rem;
}

/*..................... img mario ...................... */
.imgBx__mario{
    margin-left: 1.5rem;
}

.container .card .imgBx__mario{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
}

.container .card:hover .imgBx__mario{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left:2rem;
}

/*..................... img papas ...................... */
.imgBx__papas{
    margin-left: 3.4rem;
}

.container .card .imgBx__papas{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
}

.container .card:hover .imgBx__papas{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 4rem;
}

/* ............... Catiner en gral................... */
  .container .card .contentBx{
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 10;
  }

  .container .card:hover .contentBx{
      height: 180px;
  }

  .container .card .contentBx h2{
      position: relative;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: px;
      color: #11918c;
  }

  .container .card .contentBx .size{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
  }

  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0,5s;

  }

  .container .card .contentBx .size h3{
      color: #131313;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 10px;
  }


  .container .card .contentBx .size span{
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    background: #11918c;
    margin: 0 5px;
    transition: 0.5s;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.container .card .contentBx .size span:hover{
    background: #033b3a;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #11918c;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 800;
    color: whitesmoke;
    opacity: 0%;
    transform: translateY(50px);
    transition: 0.5s;
}


.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay:0,75s;
   
}

/* .................. mosaico flex.................. */
.gridpadre{
    display: grid;
    grid-template-columns: 22rem 22rem 22rem 22rem 22rem;
    grid-template-rows: auto;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



/* .................FOOTER..................... */


.footer{
    background-color: #11918c ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: 2rem;
}

.footer__foto{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 5rem;
}

.footer__menu ul{
    padding: 2rem;
    list-style-type: none;
}

.footer__menu il{
    display: inline-block;
}

.footer__menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: rem;
    padding: 0.3rem;
    margin-right: 50rem;
}

.footer__cta{
    display: flex;
    flex-direction: column;

}

.footer__subtitulo{
    color: whitesmoke;
    margin-top: 3.5rem;
    margin-right: 5rem;
}

.footer__mail{
    margin-top: 0.2rem;
}

.footer__iconos{
    margin-top: 0.4rem;
}
.icono{
    width: 20px;
}



/* vista tablet? */
@media only screen and (max-width: 991px){ 


    /* ...........banner principal........... */
    .bannerflex{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin-top: 0%;
        background-color: #f4f4f4;
        height: auto;
        overflow: hidden;
    }
    .bannerflex__texto{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        margin-top: 5rem;
    }
    
    .bannerflex__texto h1{
        display: inline-block;
        width: 10rem;
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 800;
    }
    
    .banner__subtitulo{
        font-size: 1rem;
    }
    

    
    .boton {
        text-decoration: none;
        color: #f4f4f4;
        border-radius: 4px;
        width: 5rem;
        height: 2rem; 
        background-color: #11918c;
        text-align: center;
        padding-top: 0.2rem ;
        margin-top: 0rem;
        transition: 0.5s;
    }
    
    .boton a{
        text-decoration: none;
        color: #f4f4f4; 
        font-size: 12px;
        font-weight: 600;
    }
    .banner__foto{
        margin: 0%;
        width: 30rem;
        object-fit: cover;
        overflow: hidden;
    }
    

/* ..............SECCION 2............... */

.sobrenosotros{
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 0;
    justify-content: center;
}

.titulo__contenedor{
    display: flex;
    align-items: center;

}
.sobrenosotros__titulo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.sobrenosotros__texto{
    display: inline-block;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    height: auto;
    font-size: 1rem;
    text-align: center;
}
/* 
.sobrenosotros__titulo{
    display:inline-block;
    width: 10rem;
    height: 3rem;
    justify-content:center;
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    margin-top: 10rem;
    margin-right: 40rem;
    margin-left: 3rem;
    line-height: 4rem;

}


.sobrenosotros__texto{
    display: inline-block;
    width: 40rem;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 7rem;
    margin-left: 7rem; */



    /* ..........catalogos............... */

    .contenedor{
     width: 100%;
     height: 100%;
    }

    .gridpadre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 4rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    
    }

    .sticker{
        margin-bottom: 1rem;
        align-items: center;
    }

    .stickersdestacados{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: auto;
        align-items: center;
        justify-items: center;
        margin: 0;
        
    }
     .stickersdestacados__titulo{
        display: inline-block;
        font-size: 2.5rem;
        color: #11918c;
        font-weight: 900;
        line-height: 2.5rem;
        width: 25rem;
        margin-bottom: 2rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
     }

   
    /* ...........footer............. */
    .footer{
        background-color: #11918c ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: auto;
        align-items: center;
    }

    .footer__foto{
        display: inline-block;
        align-items: center;
        margin-top: 2rem;
        margin-left: 0rem;
        align-items: center;
    }

    .footer__menu ul{
        display: flex;
        flex-direction: row;
        padding: 0rem;
        list-style-type: none;
        text-align: center;
        margin-top: 2rem;
        font-size: 10px;
    }
    
    
    .footer__menu a{
        text-decoration: none;
        color: aliceblue;
        font-size: rem;
        padding: 0.3rem;
        margin-right: 0rem;
    }

    .footer__cta{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__subtitulo{
        color: whitesmoke;
        margin-top: 0rem;
        margin-right: 0rem;
        font-size: 10px;
    }
    
    #newsletter{
       width: 8rem;
       margin-right: 0rem;
       align-items: center;
       margin-left: 1.2rem;
    }
    .footer__mail{
        margin-top: 0.2rem;
        font-size: 10px;
    }
    
    .footer__iconos{
        margin-top: 0.4rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .icono{
        width: 20px;
    }
}
