*{
    padding: 0px;
    margin: 0px;
}


/* .............BODY................. */
body{
    font-family: 'Spartan', sans-serif;
}


/* ..............HEADER............. */

.header{
    display: flex;
    flex-direction: row;
    background-color: #11918c;
    background-size: contain;
    justify-content:space-between
}

.header__foto{
    display: inline-block;
    padding: 1.5rem;
    margin-left: 1rem;
    align-content: center;

}

.header__buscador{
    display: inline-block;
    padding: 2rem;
    margin-right: 3;

}

/* ......... NAV............*/
.header__nav ul{
    padding: 2rem;
    list-style-type: none; 
}

.header__nav li{
    display: inline-block;
}

.header__nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: rem;
    padding: 0.3rem;
}


/* ...........PRINCIPAL BANNER............... */

.bannerflex{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 0%;
    background-color: #f4f4f4;
}
.bannerflex__texto{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    margin-top: 14rem;
}
.banner__titulo{
    display: inline-block;
    width: 10rem;
    font-size: 10rem;
    line-height: 9rem;
    font-weight: 800;
}

.banner__subtitulo{
    font-size: 2rem;
}

.boton {
    text-decoration: none;
    color: #f4f4f4;
    border-radius: 4px;
    width: 8rem;
    height: 2rem; 
    background-color: #11918c;
    text-align: center;
    padding-top: 0.5rem ;
    margin-top: 1rem;
}

.boton a{
    text-decoration: none;
    color: #f4f4f4; 
    font-size: 1.2rem;
    font-weight: 600;

}


.banner__foto{
    width: 90rem;
    margin-top: 0%;
    margin-bottom: 0%;
}

/* ..............SECCION 2............... */

.sobrenosotros{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #11918c;
    height: 30rem;
    color: whitesmoke;
}

.sobrenosotros__titulo{
    display:inline-block;
    width: 10rem;
    height: 3rem;
    justify-content:center;
    font-size: 4rem;
    text-align: left;
    margin-top: 8rem;
    margin-right: 40rem;
    margin-left: 3rem;
    line-height: 6rem;}

.sobrenosotros__texto{
    display: inline-block;
    width: 40rem;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 7rem;
    margin-left: 7rem;

}

/* ...................STICKERS DESTACADOS....................... */


.stickersdestacados{
    display: inline-block;
    color: #11918c;
    font-size: 5rem;
    width: 10rem;
    margin: 5rem;
    line-height: 5rem;
    background-color: #fff;
}

/* ................mosaico fotos.................... */

.container{
    position: relative;
    filter: drop-shadow(5px 5px 10px rgb(167, 167, 167));
    margin-left:3rem ;
}

.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background:rgb(230, 229, 229);
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #11918c;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.container .card:after{
    content: 'Pegarte';
    position: absolute;
    top: 45%;
    left: -10%;
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    color: rgba(95, 95, 95, 0.05)
}

/* -------------img bellota------------ */

.imgBx{
    margin-left: 1.2rem;
}

.container .card .imgBx{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
}

.container .card:hover .imgBx{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 2rem;
}

  /*---------------- img olaf---------------*/

.imgBx__olaf{
    display: inline-block;
    margin-left: 5rem;}

.container .card .imgBx__olaf{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
}

  .container .card:hover .imgBx__olaf{
    top: 2%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 5.5rem;
}


  .container .card .contentBx{
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 10;
  }

  .container .card:hover .contentBx{
      height: 180px;
  }

  .container .card .contentBx h2{
      position: relative;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: px;
      color: #11918c;
  }

  .container .card .contentBx .size{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
  }

  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0,5s;

  }

  .container .card .contentBx .size h3{
      color: #131313;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 10px;
  }

.container .card .contentBx .size span{
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    background: #11918c;
    margin: 0 5px;
    transition: 0.5s;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover{
    background: #033b3a;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #11918c;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 800;
    color: whitesmoke;
    opacity: 0%;
    transform: translateY(50px);
    transition: 0.5s;
}


.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay:0,75s;
}

/* .................. mosaico flex.................. */
 .filaarriba{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-bottom: 5rem;
 }

/* .................FOOTER..................... */

.footer{
    background-color: #11918c ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: 2rem;
}

.footer__foto{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 5rem;
}

.footer__menu ul{
    padding: 2rem;
    list-style-type: none;
}

.footer__menu il{
    display: inline-block;
}

.footer__menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: rem;
    padding: 0.3rem;
    margin-right: 50rem;
}

.footer__cta{
    display: flex;
    flex-direction: column;

}

.footer__subtitulo{
    color: whitesmoke;
    margin-top: 3.5rem;
    margin-right: 5rem;
}

.footer__mail{
    margin-top: 0.2rem;
}

.footer__iconos{
    margin-top: 0.4rem;
}