* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #db747a;
	overflow: hidden;
}

.card {
	position: relative;
	width: 260px;
	height: 320px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02),
		0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03),
		0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05);

	&--image {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img {
			width: 140%;
			height: 140%;
			object-fit: cover;
		}
	}

	&--info {
		--size: 20px;
		width: var(--size);
		height: var(--size);
		background: rgba(0, 0, 0, 0.75);
		border-radius: 2px;
		position: absolute;
		transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
		overflow: hidden;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02),
			0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03),
			0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05),
			0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065),
			0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095),
			0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16),
			0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02),
			0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03),
			0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to top,
				rgba(0, 0, 0, 0.65) 0%,
				rgba(0, 0, 0, 0.25) 50%,
				transparent 100%
			);
			z-index: 1;
			opacity: 0;
			transition: opacity 550ms ease;
		}

		&.info--1 {
			bottom: 47%;
			right: 80%;
			.info--image {
				img {
					top: -80%;
					left: -20%;
				}
			}
		}

		&.info--2 {
			bottom: 25%;
			right: 15%;
			.info--image {
				img {
					right: -20%;
					bottom: -80%;
				}
			}
		}

		.icon {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: center;
			align-items: center;
			ion-icon {
				color: white;
			}
		}

		.info--text {
			display: block;
			position: absolute;
			left: 10%;
			bottom: 5%;
			font-size: 0.55rem;
			letter-spacing: 1px;
			font-family: "Montserrat";
			font-weight: bold;
			color: #fff;
			white-space: nowrap;
			z-index: 2;
			opacity: 0;
			transform: translateY(25%);
			transition: opacity 250ms ease, transform 250ms ease;
		}

		.info--image {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			img {
				position: absolute;
				width: 340%;
				height: 340%;
				object-fit: cover;
				opacity: 0;
				transition: opacity 550ms ease;
			}
		}
	}

	&:hover {
		.card--info {
			--size: 100px;
			&::after {
				opacity: 1;
			}
			&.info--1 {
				right: 71%;
				transition-delay: 100ms;
			}
			&.info--2 {
				right: -10%;
			}
			.info--image {
				img {
					opacity: 1;
				}
			}
			.info--text {
				transition-delay: 550ms;
				opacity: 1;
				transform: translateY(0%);
			}
		}
	}
}

.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
	a{
		margin: 0 10px;
		color: #fff;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover{
			transform: scale(1.1);
		}
	}

}



/* body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vn;
    background: #131313;
}

.container{
    position: relative;
}

.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background:rgb(230, 229, 229);
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #11918c;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.container .card:after{
    content: 'Pegarte';
    position: absolute;
    top: 45%;
    left: -10%;
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    color: rgba(95, 95, 95, 0.05)
}

.imgBx{
    margin-left: 1.2rem;

}

.container .card .imgBx{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 60%;
    height: 280px;
    transition: 0.5s;
  }

  .container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
    width: 60%;
    height: 260px;
    margin-left: 2rem;

      
  }

  .container .card .contentBx{
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 10;
  }

  .container .card:hover .contentBx{
      height: 180px;
  }

  .container .card .contentBx h2{
      position: relative;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: px;
      color: #11918c;
  }

  .container .card .contentBx .size{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
  }

  .container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0,5s;

  }

  .container .card .contentBx .size h3{
      color: #131313;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-right: 10px;
  }

.container .card .contentBx .size span{
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    background: #11918c;
    margin: 0 5px;
    transition: 0.5s;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover{
    background: #033b3a;
}

.container .card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #11918c;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 800;
    color: whitesmoke;
    opacity: 0%;
    transform: translateY(50px);
    transition: 0.5s;
    cursor: pointer;
}


.container .card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay:0,75s;
} */ */


/* ................... fotos viejas -................. */
/* ...................STICKER 1...................... */

/* .foto1{
    display: inline-block;
    margin-left: 5rem;
  
}

.fotozoom{
    overflow: hidden;
    transition: all 150ms eas;
}

.foto1__foto:hover{
    transform: scale(140%);
}

.foto1__epigrafetexto{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.foto1__epigrafe{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:whitesmoke;
    height: 4rem;
}

.foto1__boton{
    background-color: #11918c;
    border-style: none;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: whitesmoke;    
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.2rem;
    width: 6rem;
}

.foto1__boton--largo{
    background-color: #11918c;
    border-style: none;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: whitesmoke;    
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.2rem;
    width: 6rem;
    margin-left: 3rem;
}

.foto1__epigrafetexto--largo{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 25rem;
} 


.foto1__epigrafe1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:whitesmoke;
    height: 6rem;
} */
