* {
  padding: 0px;
  margin: 0px;
}

/* .............BODY................. */
body {
  font-family: "Spartan", sans-serif !important;
}

.header {
  --bs-bg-opacity: 1;
  background-color: #11918c;
  width: auto;
  overflow: hidden;
}

.header .ul {
  padding: 2rem;
  list-style-type: none;
}

.header .li {
  display: inline-block;
}

.header .a {
  text-decoration: none;
  color: aliceblue;
  font-size: rem;
  padding: 0.3rem;
}

.bannerflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0%;
  background-color: #f4f4f4;
  width: auto;
  overflow: hidden;
}

.bannerflex .bannerflex__texto {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5rem;
  margin-top: 14rem;
}

.bannerflex .bannerflex__texto h1 {
  display: inline-block;
  width: 10rem;
  font-size: 10rem;
  font-weight: 800;
  line-height: 9rem;
}

.bannerflex .banner__subtitulo {
  font-size: 2rem;
}

.bannerflex .boton {
  text-decoration: none;
  text-align: center;
  color: #f4f4f4;
  border-radius: 4px;
  width: 8rem;
  height: 2rem;
  background-color: #11918c;
  padding-top: 0.2rem;
  margin-top: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bannerflex .boton :hover {
  background-color: #033b3a;
  -webkit-transition-delay: 0, 75s;
          transition-delay: 0, 75s;
}

.bannerflex .boton a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  font-weight: 600;
}

.bannerflex .banner__foto {
  width: 90rem;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* ..............SECCION 2............... */
.sobrenosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #11918c;
  height: 30rem;
  color: whitesmoke;
  width: 100%;
}

.sobrenosotros h2 {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 4rem;
  text-align: left;
  margin-top: 10rem;
  margin-right: 40rem;
  margin-left: 3rem;
  line-height: 4rem;
}

.sobrenosotros p {
  display: inline-block;
  width: 40rem;
  text-align: right;
  font-size: 1.2rem;
  margin-top: 7rem;
  margin-left: 7rem;
}

/* ...................STICKERS DESTACADOS....................... */
.stickersdestacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem;
  background-color: #fff;
  width: auto;
  overflow: hidden;
}

.stickersdestacados h2 {
  font-size: 5rem;
  color: #11918c;
  font-weight: 900;
  line-height: 5rem;
  width: 10rem;
  margin-bottom: 2rem;
}

/* ................mosaico fotos.................... */
.container {
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 10px #a7a7a7);
          filter: drop-shadow(5px 5px 10px #a7a7a7);
  margin-left: 3rem;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #e6e5e5;
  border-radius: 20px;
  overflow: hidden;
  /* -------------img bellota------------ */
  /*---------------- img olaf---------------*/
  /*..................... img lcdp ...................... */
  /*..................... img mario ...................... */
  /*..................... img papas ...................... */
}

.container .card :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #11918c;
  -webkit-clip-path: circle(150px at 80% 20%);
          clip-path: circle(150px at 80% 20%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.container .card :hover:before {
  -webkit-clip-path: circle(300px at 80% -20%);
          clip-path: circle(300px at 80% -20%);
}

.container .card :after {
  content: "Pegarte";
  position: absolute;
  top: 45%;
  left: -10%;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: rgba(95, 95, 95, 0.05);
}

.container .card .imgBx {
  margin-left: 1.2rem;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 280px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .imgBx :hover {
  top: 2%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 260px;
  margin-left: 2rem;
}

.container .card .imgBx__olaf {
  display: inline-block;
  margin-left: 6rem;
  position: absolute;
  top: 43%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .imgBx__olaf :hover {
  top: 2%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 260px;
  margin-left: 6.5rem;
}

.container .card .imgBx__lcdp {
  margin-left: 1.2rem;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 280px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .imgBx__lcdp :hover {
  top: 2%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 260px;
  margin-left: 2rem;
}

.container .card .imgBx__mario {
  margin-left: 1.5rem;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 280px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .imgBx__mario :hover {
  top: 2%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 260px;
  margin-left: 2rem;
}

.container .card .imgBx__papas {
  margin-left: 3.4rem;
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10000;
  width: 60%;
  height: 280px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .imgBx__papas :hover {
  top: 2%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 60%;
  height: 260px;
  margin-left: 4rem;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

.container .card .contentBx :hover {
  height: 180px;
}

.container .card .contentBx h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: px;
  color: #11918c;
}

.container .card .contentBx .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card .contentBx .size :hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0, 5s;
          transition-delay: 0, 5s;
}

.container .card .contentBx .size h3 {
  color: #131313;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

.container .card .contentBx .size span {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 33px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  background: #11918c;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.container .card .contentBx .size span :hover {
  background: #033b3a;
}

.container .card .contentBx .size a {
  display: inline-block;
  padding: 10px 20px;
  background: #11918c;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 800;
  color: whitesmoke;
  opacity: 0%;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .contentBx .size a :hover {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0, 75s;
          transition-delay: 0, 75s;
}

/* .................. mosaico flex.................. */
.gridpadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22rem 22rem 22rem 22rem 22rem;
      grid-template-columns: 22rem 22rem 22rem 22rem 22rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

/* .................FOOTER..................... */
.footer {
  background-color: #11918c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-size: 2rem;
  width: auto;
  overflow: hidden;
}

.footer .img {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 5rem;
}

.footer .footer__menu ul {
  padding: 2rem;
  list-style-type: none;
}

.footer .footer__menu a {
  text-decoration: none;
  color: aliceblue;
  font-size: rem;
  padding: 0.3rem;
  margin-right: 50rem;
}

.footer .footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__cta .footer__subtitulo {
  color: whitesmoke;
  margin-top: 3.5rem;
  margin-right: 5rem;
}

.footer .footer__cta .footer__mail {
  margin-top: 0.2rem;
}

.footer .footer__cta .footer__iconos {
  margin-top: 0.4rem;
}

.footer .footer__cta .icono {
  width: 20px;
}
/*# sourceMappingURL=estilo-index.css.map */